<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RubyDAS - Dalliance</title>
    <link href="http://biodalliance.org/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <style type="text/css">
      body {
        padding-top: 80px;
        height: 100%; 
        }

        #svgHolder {
          background: white;
          margin-top: 20px;
          padding: 5px;
        }

        .hero-unit {
          padding: 35px;
        }
      
    </style>

    <link href="http://biodalliance.org/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script language="javascript" src="http://www.biodalliance.org/release-0.13/dalliance-compiled.js"></script>
    <script language="javascript">
      new Browser({
        chr:          <%= "\'" + chr + "\'"%>,
        viewStart:    <%= viewStart %>,
        viewEnd:      <%= viewEnd %>,
        noPersist: true,
        cookieKey:    <%= "\'" + name + "\'" %>,

        coordSystem: {},

        sources:     [{name:                 'DAS Sequence',      
                       uri:                  'http://localhost:4567/das/rubydas/',        
                       tier_type:            'sequence',
                       provides_entrypoints: true},
                      {name:                 'DAS Features', 
                       uri:                  'http://localhost:4567/das/rubydas/'}],

        uiPrefix: '//www.biodalliance.org/release-0.13/',

        setDocumentTitle: false,
        disablePoweredBy: true,
        noTitle: true
      });
    </script>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">Biodalliance</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit">
         <h3 style='margin-top: 0px'>Annotations from <%= name %></h3>
        <div id="svgHolder"></div>
      </div>
    </div> 
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://biodalliance.org/bootstrap-without-jquery.js"></script>
  </body>
</html>
